/*Tecumseh McMullin*/

/*this changes the style for the entire body*/
body {
    text-align: center;

    /*this sets the background image*/
    background-image: url(background.jpg);
}

/*this sets the style for the form*/
form{
    background-color: beige;
    margin: auto;
    border: 1cm;
}

/*this sets the style for the login button*/
button{
    background-color: aliceblue;
    margin: 5%;
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
    font-family:"oswald";
    font-size: 50px;
}

/*this sets the style for the login button if its hovered on*/
button:hover{
    background-color: orange;
}

/*this changes the style for the paragraph with the id message*/
#message{
    background-color: gold;
}
